@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F5DC;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
background: #F5F5DC;
}

::-webkit-scrollbar-thumb {
background: #D3B88C;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}